<div class="container2">
	<div class="row">
	  <div class="col-sm-6 col-md-12">
	    <div class="thumbnail">
	      <%= image_tag "vil.jpg" %>
	      <div class="caption", style="text-align: center;">
	        <h3>Vildana</h3>
	        <p>"cool4 [<i>sic</i>]"
	        (she didn't even look at it)</p>
	        <p><%= link_to "Register anyway!", signup_path, class: "btn btn-lg btn-primary" %></p>        
	      </div>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-sm-6 col-md-12">
	    <div class="thumbnail">
	      <%= image_tag "ana.jpg" %>
	      <div class="caption", style="text-align: center;">
	        <h3>Ana</h3>
	        <p>"Page is almost empty... Terrible!"</p>
	        <p><%= link_to "Meh, I'll give it a try!", signup_path, class: "btn btn-lg btn-primary" %></p>        
	      </div>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-sm-6 col-md-12">
	    <div class="thumbnail">
	      <%= image_tag "lam.jpg" %>
	      <div class="caption", style="text-align: center;">
	        <h3>Lamija</h3>
	        <p>"It says my mail is in use already..."</p>
	        <p><%= link_to "I have multiple mails, let me try it!", signup_path, class: "btn btn-lg btn-primary" %></p>        
	      </div>
	    </div>
	  </div>
	</div>
</div>